html {
  font-family: nassim-latin, sans-serif;
}

h1 {
  font-family: avory-i-latin, sans-serif;
  color: #fff;
}

h2 {
  font-family: skolar-sans-latin, sans-serif;
  color: #b75ea5;
  text-shadow: 3px 3px 5px #b75ea5;
}

h3 {
  font-family: avory-i-latin, sans-serif;
  color: #924299;
}

h4 {
  font-family: skolar-sans-latin, sans-serif;
  color: #981a30;
  font-weight: bold;
}

h5 {
  font-family: skolar-sans-latin, sans-serif;
  color: #b75ea5;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footnote {
  font-family: skolar-sans-latin, sans-serif;
  color: #000;
  font-variant-caps: small-caps;
  font-weight: lighter;
}

h6 {
  font-family: avory-i-latin, sans-serif;
  color: #924299;
  font-size: 1.728rem;
  line-height: 2.45rem;
}

.buynow {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.buynow,
.footer {
  background-color: #924299;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .25rem;
  transition: background-color .3s ease;
}

.buynow:hover,
.footer:hover {
  background-color: #b75ea5;
}

.buynow a,
.footer a {
  text-decoration: none;
  color: #fff;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  border-bottom: 10px solid #924299;
  background-position: top, center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 45vh;
}

.byline {
  text-shadow: 3px 3px 5px #000;
}

.nav-colour {
  background-color: #b75ea5;
}

li::before {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li a,
nav li button {
  text-decoration: none;
  color: #fff;
  transition: color .3s ease;
}

nav ul li {
  list-style-type: none;
  transition: background-color .3s ease;
}

nav li:hover .nav-list {
  color: #000;
}

nav li:hover button {
  /* color: #000;s */
  background-color: inherit;
}

.dropbtn {
  padding: 0;
  background-color: inherit;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, .2);
  transition: background-color .3s ease;
}

.dropdown-content a {
  color: #fff;
  background-color: #924299;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

hr {
  border: solid 1px #924299;
}

.main-gutter {
  padding-left: .65rem;
  padding-right: .65rem;
}

@media only screen and (min-width: 38em) {

  .main-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  .main-gutter-big {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .main-gutter-left {
    padding-right: .65rem;
  }

  .recipe-gutter-left {
    padding-right: 2.6rem;
  }

  .main-gutter-right {
    padding-left: .65rem;
  }

  .recipe-gutter-right {
    padding-left: 2.6rem;
  }

  .columns {
    columns: 100px 2;
  }

  .hang-punc {
    margin-left: -1.4em;
  }

}

.contents a,
.popular-card {
  text-decoration: none;
  color: #000;
  transition: color .3s ease;
  font-family: skolar-sans-latin, sans-serif;
}

.contents ul li {
  list-style-type: none;
  transition: background-color .3s ease;
}

.contents a:hover,
.popular-card:hover {
  color: #924299;
}

.overlay {
  filter: grayscale(50%);
  transition: all .3s linear;
}

.popular-card:hover .overlay {
  filter: grayscale(0);
}

.popular .unit {
  text-align: center;
}

.popular-card {
  text-align: left;
}

.popular-card img {
  max-width: 250px;
}

@media only screen and (min-width: 60em) {

  .columns {
    columns: 100px 3;
  }

}

/* Recipe specific */

.recipe-head {
  font-family: skolar-sans-latin, sans-serif;
}

.hang-punc {
  color: #981a30;
  font-weight: bold;
  margin-left: -2em;
  font-size: 1.2rem;
  line-height: 1.875rem;
  float: left;
  text-align: right;
  width: 1.3em;
}

.spacing {
  display: none;
}

@media only screen and (min-width: 38em) {

  .spacing {
    display: inline-block;
    visibility: hidden;
  }

}
